<div class="">
    <div class="block-header">
        <h1 class="text-center">WELCOME TO VACCINE MANAGEMENT SYSTEM</h1>
    </div>
   <!-- Open to see upload image -->
    <!-- <label class="image-upload-container btn btn-bwm">
        <span>Select Image</span>
        <input #imageInput type="file" accept="image/*" (change)="processFile($event)">
    </label>
    <div *ngIf="isPending">
        <mat-spinner></mat-spinner>
    </div>
    <div *ngIf="dataUploadSuccess">
        <img width="300" [src]="dataUploadSuccess.data.link" alt="">
    </div> -->

</div>